/*
Black #020202
White #FFF
Yellow #FFB020
Orange #FC7612
Red #BD5858
*/
html {
    scroll-behavior: smooth;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
iframe {
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    text-transform: capitalize;
}
.btn {
    background-color: rgb(137, 54, 54);
    color: rgb(255, 255, 255);
    --tw-ring-color: rgb(137, 54, 54);
    transition-timing-function: cubic-bezier(.4,0,1,1);
    transition-duration: .2s;
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    text-transform: none;
    text-decoration: none;
}
/*
.btn:brightness-110:hover {
    --tw-brightness: brightness(1.1);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
*/
.skip-links {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background-color: rgb(137, 54, 54);
    color: rgb(255, 255, 255);
}
.skip-links:focus {
    position: static;
    width: 100%;
    height: auto;
    display: block;
}
header,
footer {
    background-color: #ff9f00;
    padding: 2rem 1rem;
}
header .hero {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
main {
    padding: 1rem;
}
footer {
    display: flex;
    justify-content: center;
    gap: 4rem;
}
footer a {
    color: rgb(137, 54, 54);
}
@media (min-width: 800px) {
    header,
    footer {
        padding: 4rem;
    }
    header .hero {
        max-width: 1440px;
        flex-direction: row;
        gap: 4rem;
    }
    main {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}