---

---

<a href="#mission-statement" class="skip-links">Skip to mission statement</a>
<a href="#main-menu" class="skip-links">Skip to site navigation</a>
<a href="#main" class="skip-links">Skip to main content</a>
<a href="#footer" class="skip-links">Skip to social media links</a>

<style>
    .skip-links {
        padding: var(--spacing-sm);
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        background-color: var(--cta-color);
        color: var(--background-color);
    }
    .skip-links:focus-visible {
        position: static;
        width: 100%;
        height: auto;
        display: block;
        outline-color: var(--background-color);
        outline-offset: -2px;
    }
</style>