---
import { Icon } from "astro-icon/components";

const socialList = [
    {
        href: "https://www.facebook.com/ontherisefoundation2024",
        ariaLabel: "Facebook profile",
        name: "fa6-brands:facebook"
    },
    {
        href: "https://www.tiktok.com/@ontherisefoundation",
        ariaLabel: "Tiktok profile",
        name: "fa6-brands:tiktok"
    }
];

const iconSize = 50;
---
<div class="social-wrap">
    {socialList.map(social => ((
        <a href={social.href} aria-label={social.ariaLabel} target="_blank">
            <Icon name={social.name} size={iconSize} />    
        </a>
    )))}
</div>

<style>
    .social-wrap {
        display: flex;
        justify-content: center;
        gap: var(--spacing-xl);
    }
</style>