---
import Heading from "../components/ui/Heading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Us"
---

<BaseLayout title={pageTitle}>
    <Heading tagName="h2" size="h1">{pageTitle}</Heading>
    <p>On The Rise Foundation is dedicated to making a meaningful difference in the lives of individuals and families facing barriers to receiving essential evaluations and support services. Our mission is to provide consultation, outreach, and financial assistance to those who may not have access to these critical resources due to financial constraints or insurance requirements.</p>

    <p>At On The Rise, we aim to bridge the gap in healthcare access by offering a helping hand to those in need. Through our services, we strive to empower individuals to receive the evaluations and support they require to thrive, regardless of their financial situation. By offering consultation, outreach programs, and financial assistance, we hope to ensure that everyone has the opportunity to receive the care and assistance they deserve.</p>

    <p>On The Rise Foundation is committed to fostering a supportive and inclusive environment where individuals can access the resources they need to lead healthier and more fulfilling lives. Together, we can make a positive impact on our community by providing essential services to those who need them most.</p>
</BaseLayout>