---
import Button from "../components/ui/Button.astro";
import Heading from "../components/ui/Heading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Donate Now">
    <Heading tagName="h2" size="h1">Help Us Raise Up Our Outreach Funding</Heading>
    <p>Your donation will help On The Rise Foundation embark on new endeavors in growth and expansion by securing a dedicated office space and to kickstart our vital services for clients in need of mental and neurocognitive evaluation and support. With your support, we will be able to create a welcoming and functional space where individuals can access essential services and receive the care they deserve. Along with security of the office space we will be able to do hours of outreach, consultation and help clients in the community receive valuable services.</p>
    <p> Your generosity will play a crucial role in helping us fulfill our mission of empowering and uplifting our community through accessible and inclusive mental and neurocognitive evaluation and support services. Together, we can make a lasting impact on the lives of those in need. Thank you for considering supporting On The Rise Foundation in our journey to create a brighter future for all.</p>
    <Button tagName="a" href="#LyZdBg" variant="wide">Donate Now</Button>
    <givebutter-widget id="LyZdBg"></givebutter-widget>
</BaseLayout>

<style>
    givebutter-widget {
        max-width: 34rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>