---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Home">
	<h2>Who Is On The Rise Foundation</h2>
	<p>On The Rise Foundation was created by founders Angela and Jonas Allen to help the local King/Snohomish and Pierce Counties to help advocate for individuals' rights to evaluations, promote inclusion, and foster a supportive community, aiming to create an inclusive society where every family has access to the necessary tools and accommodations needed to thrive academically and professionally. Together, we strive to remove barriers, enhance accessibility, and promote equal opportunities for individuals of all abilities.</p>

	<h2>Why Was On The Rise Foundation Created</h2>
	<p>On The Rise was created after Angela worked in the Mental Health field as a Director and Operations Specialists working with clients not being able to receive services due to financial or insurance issues. Angela felt those who needed the assistance the most were affected and there was no service out there for assistance or were faced with lengthy barriers.</p>

	<h3>On The Rise Foundation's Solution</h3>
	<p>On The Rise hopes to assist with consultation, outreach and financial assistance for individuals and families who are not able to receive evaluations or support due to financial or insurance requirements.</p>

	<h2 id="stay-up-to-date">Stay up to Date on Our Launch</h2>
	<script type="text/javascript" src="https://opnform.com/widgets/iframeResize.min.js"></script>
	<iframe title="Stay Up To Date On Our Launch" style="border:none;width:100%;" id="form-stay-updated-with-our-non-profit-organization-djanwk" src="https://opnform.com/forms/stay-updated-with-our-non-profit-organization-djanwk"></iframe>
	<script type="text/javascript">iFrameResize({log: false, checkOrigin: false}, "#form-stay-updated-with-our-non-profit-organization-djanwk");</script>
</BaseLayout>