---
import { Picture } from "astro:assets";
import logoImg from "../images/on-the-rise-foundation-logo.png";
import "@fontsource/roboto";
import "../styles/global.css";
import { Icon } from "astro-icon/components";
import SocialIcons from "../components/SocialIcons.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>On the Rise Foundation - Fall into your new beginning</title>
		<meta name="description" content="Our mission is to empower families by providing comprehensive support and resources to ensure equal opportunities for accommodations in school and work environments." />
		<!-- <meta name="keywords" content="" /> -->

	</head>
	<body>
		<a href="#mission-statement" class="skip-links">Skip to mission statement</a>
		<a href="#main" class="skip-links">Skip to about us</a>
		<a href="#footer" class="skip-links">Skip to stay up to date on our launch</a>
		<a href="#footer" class="skip-links">Skip to social media links</a>
		<header>
			<div class="hero">
				<h1>
					<Picture
						src={logoImg}
						widths={[260, 300, 325, logoImg.width]}
						sizes={`(max-width: 320px) 260px, (max-width: 345px) 300px, (max-width: 370px) 325px, ${logoImg.width}px`}
						alt="On the Rise Foundation Fall into Your New Beginning"
					/>
				</h1>

				<div id="mission-statement">
					<h2>Our Mission</h2>
					<p>Is to empower families by providing comprehensive support and resources to ensure equal opportunities for accommodations in school and work environments.</p>
					<a class="btn" href="#stay-up-to-date">Stay Up To Date On Our Launch</a>
				</div>
			</div>
		</header>
		<main id="main">
			<h2>Who Is On The Rise Foundation</h2>
			<p>On The Rise Foundation was created by founders Angela and Jonas Allen to help the local King/Snohomish and Pierce Counties to help advocate for individuals' rights to evaluations, promote inclusion, and foster a supportive community, aiming to create an inclusive society where every family has access to the necessary tools and accommodations needed to thrive academically and professionally. Together, we strive to remove barriers, enhance accessibility, and promote equal opportunities for individuals of all abilities.</p>

			<h2>Why Was On The Rise Foundation Created</h2>
			<p>On The Rise was created after Angela worked in the Mental Health field as a Director and Operations Specialists working with clients not being able to receive services due to financial or insurance issues. Angela felt those who needed the assistance the most were affected and there was no service out there for assistance or were faced with lengthy barriers.</p>

			<h3>On The Rise Foundation's Solution</h3>
			<p>On The Rise hopes to assist with consultation, outreach and financial assistance for individuals and families who are not able to receive evaluations or support due to financial or insurance requirements.</p>

			<h2 id="stay-up-to-date">Stay up to Date on Our Launch</h2>
			<script type="text/javascript" src="https://opnform.com/widgets/iframeResize.min.js"></script>
			<iframe title="Stay Up To Date On Our Launch" style="border:none;width:100%;" id="form-stay-updated-with-our-non-profit-organization-djanwk" src="https://opnform.com/forms/stay-updated-with-our-non-profit-organization-djanwk"></iframe>
			<script type="text/javascript">iFrameResize({log: false, checkOrigin: false}, "#form-stay-updated-with-our-non-profit-organization-djanwk");</script>
		</main>
		<footer id="footer">
			<SocialIcons />
		</footer>
	</body>
</html>
