---
const { title } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - On the Rise Foundation - Fall into your new beginning</title>
    <meta name="description" content="Our mission is to empower families by providing comprehensive support and resources to ensure equal opportunities for accommodations in school and work environments." />
    <!-- <meta name="keywords" content="" /> -->
</head>

<style>
    
</style>