---
import { Picture } from "astro:assets";
import logoImg from "../images/on-the-rise-foundation-logo.png";
---

<header id="header">
    <div class="hero">
        <h1>
            <a href="/">
                <Picture
                    src={logoImg}
                    widths={[260, 300, 325, logoImg.width]}
                    sizes={`(max-width: 320px) 260px, (max-width: 345px) 300px, (max-width: 370px) 325px, ${logoImg.width}px`}
                    alt="On the Rise Foundation Fall into Your New Beginning"
                />
            </a>
        </h1>

        <div id="mission-statement">
            <h2>Our Mission</h2>
            <p>Is to empower families by providing comprehensive support and resources to ensure equal opportunities for accommodations in school and work environments.</p>
            <a class="btn" href="/donate">Donate To Our Mission</a>
        </div>
    </div>
</header>

<style>
    #header {
        background-color: var(--secoundary-background-color);
        padding: var(--header-footer-padding);
    }
    header .hero {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);
    }
    @media (min-width: 800px) {
        header .hero {
            max-width: var(--page-width);
            flex-direction: row;
            gap: var(--spacing-xl);
        }
    }
</style>