---
import "normalize.css/normalize.css";
import "@fontsource/roboto";
import Head from "../components/sections/Head.astro";
import SkipLinks from "../components/sections/SkipLinks.astro";
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";


const { title } = Astro.props;
---

<html lang="en">
    <Head title={title} />
    <body>
        <SkipLinks />
        <Header />
        <main id="main">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>

    :root {
        --content-width: 34rem;
        --page-width: 1440px;

        --foreground-color: #020202;
        --background-color: rgb(255, 255, 255);
        --secoundary-background-color: #ff9f00;
        --cta-color: rgb(137, 54, 54);

        --spacing-xs: 0.25rem;
        --spacing-sm: 0.5rem;
        --spacing-md: 1rem;
        --spacing-lg: 2rem;
        --spacing-xl: 4rem;

        --font-size-sm: 0.75rem;
        --font-size-md: 1rem;
        --font-size-lg: 1.25rem;

        --header-footer-padding: var(--spacing-lg) var(--spacing-md);
        
        --border-radius: 0.5rem;
    }
    html {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 17px;
        scroll-behavior: smooth;
    }
    #main {
        max-width: var(--content-width);
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        display: block;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: capitalize;
    }
    a {
        color: var(--cta-color);
    }
    @media (max-width: 900px) {
        html { 
            font-size: 15px; 
        }
    }
    @media (max-width: 400px) {
        html { 
            font-size: 13px; 
        }
    }
    /*
    Black #020202
    White #FFF
    Yellow #FFB020
    Orange #ff9f00
    Red #BD5858
    */
</style>