---
import "normalize.css/normalize.css";
import "@fontsource/roboto";
import Head from "../components/sections/Head.astro";
import SkipLinks from "../components/sections/SkipLinks.astro";
import Header from "../components/sections/Header.astro";
import Footer from "../components/sections/Footer.astro";


const { title } = Astro.props;
---

<html lang="en">
    <Head title={title} />
    <body>
        <SkipLinks />
        <div class="viewport">
            <Header />
            <main class="main">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style is:global>

    :root {
        --content-width: 34rem;
        --page-width: 1440px;

        --foreground-color: #020202;
        --background-color: rgb(255, 255, 255);
        --secoundary-background-color: #ff9f00;
        --cta-color: rgb(137, 54, 54);

        --spacing-xs: 0.25rem;
        --spacing-sm: 0.5rem;
        --spacing-md: 1rem;
        --spacing-lg: 2rem;
        --spacing-xl: 4rem;

        --font-size-sm: 0.75rem;
        --font-size-md: 1rem;
        --font-size-lg: 1.25rem;
        
        --border-radius: 0.5rem;
    }
    :focus-visible,
    .focus:focus-visible
    .focus-within:focus-within {
        outline: 2px solid var(--cta-color);
        outline-offset: 3px;
    }
    html {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 17px;
        scroll-behavior: smooth;
    }
    title,
    .main-menu a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        text-transform: capitalize;
    }
    a {
        color: var(--cta-color);
    }
    .viewport {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main {
        max-width: var(--content-width);
        margin-left: auto;
        margin-right: auto;
        padding: var(--spacing-md);
    }
    @media (max-width: 900px) {
        html { 
            font-size: 15px; 
        }
    }
    @media (max-width: 400px) {
        html { 
            font-size: 13px; 
        }
    }
    /*
    Black #020202
    White #FFF
    Yellow #FFB020
    Orange #ff9f00
    Red #BD5858
    */
</style>